html{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}
body{
  font-family: inherit;
  height: 100%;
  margin: 0;
}

.HEADER{
  background-color: #699FBA;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.HEADER button{
  background: none;
  border: 0;
  margin: 1em 0em;

  width: 10em;
  font-size: larger;
  font-family: inherit;
}
.HEADER button:hover{
  background-color: #0001;
}

#logo{
  margin: 0.1em;
  align-content: flex-end;
}

.BODY{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-family: inherit;
}

.BODY div{
  border-radius: 1em;
  margin: 1em;
  padding: 0.5em;
  background: #D3D3D3;
}

.Event{
  font-family: inherit;
  background: #D3D3D3;
  border-radius: 1em;
  width: 95vw;
  align-self: center;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 1em;
  padding: 0.5em 1em;
}

.Event p{
  margin: 0.3em;
  padding: 0.3em;
  min-height: min-content;
  border-radius: 0.5em;
  background-color: #0001;
}

.Event div{
  display: inline;
}

.Event button{
  background: #baa069;
  border: 0;
  border-radius: 0.5em;
  width: fit-content;
  padding: 0.6em 2em;
  align-self: flex-start;
  font-family: inherit;
  font-size: 10pt;
  margin: 0.3em;
}
.Event button#event_subscribe{
  background: #69ba8b;
}

.Event button:hover, .Event #event_subscribe:hover{
  opacity: 0.4;
}

.Profile_info{
  flex-basis: 40%;
}

.Events_tables{
  flex-basis: 100%;
}

.Events_tables div{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#my_events label, #going_events label{
  align-self: center;
}

td{
  border: solid 1px black;
}
